.aspl_quick_view_button{
	margin-bottom: 10px!important;
}

.quick_popup_body{
	display: none; /* Hidden by default */
  	position: fixed; /* Stay in place */
  	z-index: 99; /* Sit on top */
  	padding-top: 50px; /* Location of the box */
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.4);
}

.quick_popup_body .modal-content{
	background-color: #fefefe;
  	margin: auto;
  	padding: 30px;
  	border: 1px solid #888;
  	width: 75%;
  	border-radius: 10px;
  	display: grid;
} 

.quick_popup_body .quick_popup_body-content{
	width: 100%;
	color: black;
	position: relative;
	/*display: inline-block;*/
	/*display: grid*/
}

.quick_popup_body_contant{
	padding: 10px 10px;
}

.quick_popup_body .quick_popup_body_contant{
	width: 50%;
	float: left;
}

.quick_popup_body .quick_popup_body_contant h1{
	font-weight: 800;
	color: black;
	font-size: 25px;
}

.quick_popup_body .quick_popup_body_image{
	width: 50%;
	float: left;
	padding: 10px 10px;
	background-color: lightgray;
	border-radius: 10px;
}

.aspl_quick_view_cancel_btn{
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: -10px!important;
	color: red;
}

.aspl_quick_view_cancel_bt:hover{
	color: red;
}

.star-rating.aspl_start_rating{
	font-size: 20px;
}

.aspl_quick_view_price{
	font-size: 20px;
}

.aspl_quick_view_desc_price{
	font-size: 15px;
}

.aspl_quick_view_fature_img{
	margin-top: 10px;
	padding: 10px 10px;
	width: 100px;
	float:left;
}

.aspl_quick_view_fature_img img{
	width: 100px;
	cursor: pointer;
}

.quick_popup_body .quick_popup_body_contant .woocommerce-Price-amount{
	font-size: 20px!important;
}
@media(max-width: 767px){

	.quick_popup_body .quick_popup_body_contant{
		width: 100%;
		float: left;
	}

	.quick_popup_body .quick_popup_body_image{
		width: 100%;
		float: left;
		padding: 10px 10px;
		background-color: lightgray;
		border-radius: 10px;
	}

	.aspl_quick_view_cancel_btn{
		right: -20px;
    	top: -45px!important;
	}

}



