/*Setting page css*/
	.aspl_logo_section{
		float: left;
		margin-left: 10px;
		margin-right: 10px;
		/*padding: 14px 16px;*/
	}
	.aspl_logo{
		width:65px;
	}
	.aspl_qview_menu_page_main{
		padding: 20px 20px 20px 0px;
	}
	.aspl_qview_menu_page_main .header{
		padding: 5px 10px;
	}
	.aspl_qview_menu_page_main .header h1{
		font-size: 15px;
		color: #2c6496;
		font-weight: 800;
	}

	/*tabs*/

		/* Style the tab */
		.aspl_qv_tab {
		  overflow: hidden;
		  border: 1px solid #ccc;
		  background-color: #f1f1f1;
		}

		/* Style the buttons inside the tab */
		.aspl_qv_tab button {
		  background-color: inherit;
		  float: left;
		  border: none;
		  outline: none;
		  cursor: pointer;
		  padding: 14px 16px;
		  transition: 0.3s;
		  font-size: 17px;
		}

		/* Change background color of buttons on hover */
		.aspl_qv_tab button:hover {
		  background-color: #ddd;
		}

		/* Create an active/current tablink class */
		.aspl_qv_tab button.active {
		  background-color: #ccc;
		}

		/* Style the tab content */
		.tabcontent {
		  display: none;
		  padding: 6px 12px;
		  border: 1px solid #ccc;
		  border-top: none;
		}

	/*end*/


	.aspl_qv_other_module_table{
		width: 96%;
		margin-right: auto;
		margin-left: auto;
		line-height: 1;
		border-spacing: 15px;
	}
	.aspl_qv_other_module_table tr{
		margin-bottom: 10px;
	}
	.aspl_qv_other_module_table tr td{
		padding: 10px;	
		box-shadow: 0 0 5px rgba(0,0,0,.2);
		width: 48%;
	}
	.aspl_qview_plugin_detail_secction{
		border-radius: 5px;
		padding: 10px;
	}